.HomeSection {
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeFields {
  margin: 2% 5%;
  border: 2px solid #2c303b;
  border-radius: 20px;
  width: 40%;
}

.topSection {
  padding: 1% 2.5%;
  border-radius: 20px 20px 0px 0px;
  border-bottom: 2px solid grey;
  background: url('/assets/images/home_time_area.png') no-repeat center;
  background-size: cover;
  z-index: -1;
}

.sessionAvailableTitle {
  margin-left: 5%;
  font-size: 250%;
  font-weight: bold;
  z-index: 1;
  color: white;
}

.sessionAvailableTimer {
  font-size: 200%;
  margin-right: 5%;
  z-index: 1;
  color: white;
}

.scrollSection {
  padding: 1%;
  margin: 1.5% 3% 0.5%;
}

a:hover {
  cursor: pointer;
}

mat-card {
  border: 1px solid grey;
  margin-bottom: 2%;
}

.card-content {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.title-section {
  flex: 1;
  padding: 0% 1%;
}

.title {
  font-size: x-large;
  margin: 5px 0px;
}
.description {
  margin: 5px 0px;
}
