#####################################################################
#           CLIENT GitIgnore
#####################################################################
./client/node_modules

#####################################################################
#           SERVER GitIgnore
#####################################################################