img {
  height: 50px;
  background-color: white;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
          Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

mat-icon {
  margin-left: 0px;
  color: white;
  font-size: 24px;
}

.toClick {
  cursor: pointer;
}

mat-toolbar {
  background-color: #2c303b;
  position: relative;
  z-index: 4;
  padding: 0 1%;
}

.mat-divider-vertical {
  border-right-color: white;
  //margin-left: 0.75%;
  //margin-right: 0.75%;
  margin: 1%;
  height: 80%;
  width: 0px !important;
  position: inherit !important;
}

p {
  font-size: medium;
  color: white;
}
